body{
    background-color: black;
}
main {
   background-image: linear-gradient(to top left, rgba(0, 255, 234, 0.712), rgba(185, 15, 201, 0.795));
    min-height:1000px;
    width: 950px;
    position: relative;
    top: 10px;
    left: 200px;
}
.sidebox{
    background-color: rgba(128, 128, 128, 0.534);
    border-width: 1px;
    height: 960px;
    max-width: 310px;
    display: inline-block;
    position:relative;
    top: 40px;
    left: 20px;
    border-radius: 99px 99px 0px 0px;

}
.insidebox{
    border-style: solid;
    border-color: rgb(232, 231, 236);
    border-width: 2px;
    min-height: 210px;
    width: 200px;
    display: inline-block;
    position:relative;
    top: 10px;
    left: 40px;
    border-radius: 99px;

}
article {
    display: inline-block;
    position: absolute;
    margin-left: 50px;
    top: 120px;
}


h3.txts{
    position: relative;
    color: aliceblue;
    left: 5px;
    background-color: aqua;
    width: 500px;

}
pre{
    display: inline-block;
    margin: 3px 0px 0px 0px;

}
h1 pre{
    position: absolute;
    left: 305px;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
img{
    height: 30px;
    width: 30px;
}
.txs{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.prof{
    height: 200px;
    width: 200px;
    border-radius: 90px;
    position: relative;
    top: 5px;
}